<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c">
	<bean id="person" class="com.testpackage.beans.Person" p:name="TestName" p:age="20" p:account-ref="account">
			<property name="gender" value="MALE"/>
	</bean>
	<bean id="account" class="com.testpackage.beans.Account" c:accountnumber="Testnumber123" c:accountholder="TestPerson">
			<constructor-arg name="accounttype" value="TestSavings"></constructor-arg>
	</bean>
</beans>